.RestaurantMap {
    .leaflet-container {
        height: 100%;
        width: 100%;
        background: white;
    }
    .leaflet-control-attribution {
        display: none;
    }
    .leaflet-control-zoom {
        position: fixed;
        top: 0px;
        right: 12px;
    }
}