.SideMenu {
    overflow-y: auto;
    .list-item {
        &:nth-child(even) {
            background: rgba(42, 82, 190, 0.1);
            min-height: 20px;

        }
        &:hover {
            background: rgba(42, 82, 190, 0.5);
        }
    }
}