.SideMenu {
    overflow-y: auto;
    .list-item {
        &:nth-child(even) {
            background: rgba(43, 43, 43, 0.1);
        }
        &:hover {
            background: rgba(43, 43, 43, 0.2);
        }
    }
}