.ListItem {
    padding: 5px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 12px;
    padding-bottom: 8px;

    .name {
        font-size: 18px;
        line-height: 50px;
        margin-left: 8px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 8px;
        display: inline-block;
        width:150px;
        overflow: auto;
        white-space: nowrap;
    }
    .price {
        color: red;
        font-size: 14px;
        height: 20px;
        font-weight: bold;
        letter-spacing: .15rem;
    }
    .meal-time {
        font-size: 14px;
        color: #1C3144;
        border-radius: 50%;
        border: 2px solid #1C3144;
        width: 24px;
        height: 24px;
        line-height: 21px;
        text-align: center;
        float: left;
        margin-left: 6px;
        &:first-of-type {
            margin-left: 0px;
        }
        &.filled {
            color: white;
            background: #1C3144;
        }
    }
    .info-container {
        height: 100px;
        width: 100%;
        float: left;
        > div {
            height: 73px;
            width: 100%;
            .description{
                display: inline-block;
                height: 75px;
                overflow: scroll;
                width: 175px;
            }
            .otherInfo{

            }
        }

        .cuisine{
            display: inline-block;
        }
        .otherInfo{
            display: inline-block;
            vertical-align: top;
        }
    }
    .logo {
        height: 50px;
        width: 50px;
        display: inline-block;
        background-size: contain;
        background-position: center;
        //border: 1px solid lightgrey;
        float: left;
    }
    .cuisine.header{
        margin-top:8px;
        display: flex;
        justify-content: end;
        width: 280px;
        overflow-x: scroll;
        padding-left: 0px;
        .sort{
            display: inline-block;
            word-wrap: normal;
            white-space: nowrap;
            margin-right: 8px;
            width: unset;
            color: white;
            height: 22px;
            padding: 4px;
            line-height: 15px;
            background-color: #66666E;
            &:hover{
                background-color: red;
            }
        }
    }

}