.SideMenu {
    width: 300px;
    height: 100vh;
    float: right;
    border-left: 1px solid lightgrey;
    padding: 12px;
}

.RestaurantMap {
    width: calc(100vw - 300px);
    height: 100vh;
    float: left;
}